.topnav {
    background-color: #585B56;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: cornsilk;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: darkred;
}

.active {
    background-color: darkred;
    color: darkred;
}